.budget-display {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.form-container {
    display: flex;
    justify-content: space-around;
    margin: 25px;
}

.expenseListContainer {
    display: flex;
    justify-content: space-around;
    border-style: solid;
}



