.budget-display {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.form-container {
    display: flex;
    justify-content: space-around;
    margin: 25px;
}

.expenseListContainer {
    display: flex;
    justify-content: space-around;
}



.btn, .btn-primary, .btn-exp {
    opacity: 0
}


.btn, .btn-pimary, .btn-exp, .active{
    opacity: 1
}